.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 200px;
}

.navbar-menu{
    display: flex;
    list-style-type: none;
    gap:20px;
    color:palevioletred;
    font-size: 1.8rem;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap:40px;
}

.navbar button{
    background: transparent;
    color:#49557e;
    font-size:16px;
    padding: 10px 30px;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar button:hover{
    background-color:  #f2f4ff;
}

.navbar li{
    cursor: pointer;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.basket-dot{
    position: relative;
}

.basket-dot .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: var(--theme-color);
    border-radius: 50%;
    top:-8px;
    right:-8px;
}

@media (max-width: 900px) {
    .navbar .logo{
        width:140px;
    }
    .navbar-menu{
        gap:15px;
        font-size: 1.6rem;
    }
    .navbar-right{
        gap:20px;
    }
    .navbar-right img{
        width:20px;
    }
    .navbar button{
        padding: 7px 20px;
        font-size: 1.5rem;
    }
}
@media (max-width: 750px) {
    .navbar-menu{display: none;}
}